@import "../mixins.scss";
@import "../variables.scss";

.menu {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  width: 470px;
}

.menu__link {
  position: relative;

  display: block;

  text-decoration: none;

  @include fonts($line-height: 29px, $color: $very-lite-grey);

  &:hover,
  &:focus {
    color: #ffffff;
    border-bottom: 2px solid $desert-sand;
    outline: none;
  }
}
