@import "../mixins.scss";
@import "../variables.scss";

.page-header {
  display: flex;
  padding-top: 55px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  width: 181.87px;
  height: 50.9px;
  margin-top: -10px;
}
