@import "../mixins.scss";
@import "../variables.scss";

.page-main {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position-x: center;
}
