@import "mixins.scss";
@import "variables.scss";

body {
  @include fonts;
  min-width: 1170px;
  max-width: 100%;

  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position-x: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
