@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin-padding-reset {
  margin: 0;
  padding: 0;
}

@mixin fonts($font-family: Arial, $font-size: 15px, $line-height: 24px, $font-weight: 400, $color: $matterhorn) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin heading-font($font-family: Georgia, $font-size: 35px, $line-height: 45px, $font-weight: 400, $color: $matterhorn) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin font-info($font-family: "Times New Roman", $font-size: 20px, $line-height: 45px, $font-weight: 400, $color: $desert-sand) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}
